## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN','NAME', and 'STATUS'
application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS'])

application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
application_df = application_df.join(pd.cut(application_df.pop('ASK_AMT'),
                     bins=[0,5000,1000000,9000000000],
                     labels=['up to 5000', '5000 to 1 million', 'greater than 1mil'],
                     include_lowest=True,).to_frame('ASK_AMT_BINS'))

In [5]:
# Determine the number of unique values in each column again to ensure changes have been made.
application_df.nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
IS_SUCCESSFUL              2
ASK_AMT_BINS               3
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
type_list = application_df['APPLICATION_TYPE'].value_counts()

type_list

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_list[type_list < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()

class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count1 = class_count.loc[class_count > 1]
class_count1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
app_num = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
x = app_num.drop(['IS_SUCCESSFUL'], axis = 1)
y = app_num['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 500,
      input_dim = 44, activation = 'relu'))

# Hidden Layers
nn.add(tf.keras.layers.Dense(units = 200, activation = 'tanh'))
nn.add(tf.keras.layers.Dense(units = 400, activation = 'elu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1,
      activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 500)               22500

 dense_1 (Dense)             (None, 200)               100200

 dense_2 (Dense)             (None, 400)               80400

 dense_3 (Dense)             (None, 1)                 401

=================================================================
Total params: 203,501
Trainable params: 203,501
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 [==============================] - 7s 7ms/step - loss: 0.5771 - accuracy: 0.7172
Epoch 2/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5583 - accuracy: 0.7271
Epoch 3/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5547 - accuracy: 0.7263
Epoch 4/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5539 - accuracy: 0.7278
Epoch 5/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5519 - accuracy: 0.7295
Epoch 6/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5524 - accuracy: 0.7284
Epoch 7/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5514 - accuracy: 0.7291
Epoch 8/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5506 - accuracy: 0.7304
Epoch 9/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5505 - accuracy: 0.7304
Epoch 10/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5491 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5488 - accuracy: 0.7313
Epoch 12/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5482 - accuracy: 0.7324
Epoch 13/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5476 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5471 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5469 - accuracy: 0.7323
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5464 - accuracy: 0.7346
Epoch 17/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 18/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 19/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 20/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5443 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 24/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5441 - accuracy: 0.7345
Epoch 25/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 26/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 27/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5438 - accuracy: 0.7353
Epoch 28/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5438 - accuracy: 0.7336
Epoch 29/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5423 - accuracy: 0.7340
Epoch 30/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5430 - accuracy: 0.7354
Epoch 31/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5425 - accuracy: 0.7359
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5419 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 35/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 36/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 38/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5419 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5411 - accuracy: 0.7341
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5407 - accuracy: 0.7345
Epoch 41/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5411 - accuracy: 0.7351
Epoch 42/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5410 - accuracy: 0.7353
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 45/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5402 - accuracy: 0.7355
Epoch 46/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5407 - accuracy: 0.7352
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 48/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 49/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5399 - accuracy: 0.7369
Epoch 50/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5401 - accuracy: 0.7359
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5400 - accuracy: 0.7366
Epoch 52/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5395 - accuracy: 0.7370
Epoch 53/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5394 - accuracy: 0.7355
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5383 - accuracy: 0.7352
Epoch 55/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 56/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5389 - accuracy: 0.7354
Epoch 57/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5386 - accuracy: 0.7356
Epoch 58/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 59/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 60/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5386 - accuracy: 0.7358
Epoch 61/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 62/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5384 - accuracy: 0.7355
Epoch 63/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 64/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5375 - accuracy: 0.7369
Epoch 65/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5374 - accuracy: 0.7345
Epoch 67/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 68/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 69/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5374 - accuracy: 0.7377
Epoch 70/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5376 - accuracy: 0.7365
Epoch 71/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5384 - accuracy: 0.7361
Epoch 72/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 73/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5382 - accuracy: 0.7367
Epoch 74/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 76/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5373 - accuracy: 0.7363
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5370 - accuracy: 0.7364
Epoch 78/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5372 - accuracy: 0.7365
Epoch 79/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5382 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5368 - accuracy: 0.7371
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5375 - accuracy: 0.7357
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5371 - accuracy: 0.7380
Epoch 83/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5374 - accuracy: 0.7365
Epoch 84/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5368 - accuracy: 0.7375
Epoch 85/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5370 - accuracy: 0.7382
Epoch 86/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5361 - accuracy: 0.7379
Epoch 87/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5370 - accuracy: 0.7364
Epoch 88/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5364 - accuracy: 0.7365
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5365 - accuracy: 0.7365
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5365 - accuracy: 0.7345
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 92/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5368 - accuracy: 0.7361
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5365 - accuracy: 0.7364
Epoch 94/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5357 - accuracy: 0.7368
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5358 - accuracy: 0.7373
Epoch 96/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5358 - accuracy: 0.7380
Epoch 97/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5361 - accuracy: 0.7365
Epoch 98/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5363 - accuracy: 0.7370
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5353 - accuracy: 0.7380
Epoch 100/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5363 - accuracy: 0.7372

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5583 - accuracy: 0.7252 - 1s/epoch - 4ms/step
Loss: 0.558321475982666, Accuracy: 0.7252478003501892

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')